name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]
    push:
        branches: [main]

jobs:
    deploy:
        name: Deploy bot
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Setup Node.JS
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version-file: package.json
                  cache: npm

            - name: Install
              run: npm ci --force

            - name: Set version
              run: npm pkg set version="$(date +"%y.%m.%d")-$(git rev-parse --short HEAD)"

            - name: Deploy
              run:
                  npx railway up --ci --service afdb8def-13c6-4650-af4e-ef60d2009b56 --environment
                  production
              env:
                  RAILWAY_TOKEN: ${{secrets.RAILWAY_TOKEN}}
